<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dropzone.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Image classification</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container">
    <div class="card text-center">
        <div class="card-body" style="text-align: center;">

            <form action="/upload_image"
                  class="dropzone"
                  id="myAwesomeDropzone">
                    <div class="dz-message" data-dz-message><span>Drag & drop a photo that you want to classify into this area.</span></div>
            </form>

        </div>
    </div>

    <div class="card-footer text-muted">
        <button type="button" class="btn btn-primary" id="clear" value="clear">Clear</button>
    </div>

    <table id="classification" class="table">
        <tr>
            <th></th>
            <th>Class</th>
            <th>Probability</th>
        </tr>
        <tr>
            <td>1</td>
            <td><p id="name1"></p></td>
            <td><p id="prob1"></p></td>
        </tr>
        <tr>
            <td>2</td>
            <td><p id="name2"></p></td>
            <td><p id="prob2"></p></td>
        </tr>
        <tr>
            <td>3</td>
            <td><p id="name3"></p></td>
            <td><p id="prob3"></p></td>
        </tr>
    </table>

</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright 2019, Hide Inada</span>
    </div>
</footer>

<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/popper.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/ic_main.js') }}"></script>

</body>
</html>
